.appCard {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--space-16);
  padding: var(--space-24);
  background: #1d2027;
  min-height: 160px;
  border-radius: 16px;
  box-shadow: 0 0 0 1px rgba(69, 76, 92, 0.8);
  cursor: pointer;
  transition: all .22s ease-in-out;
}

.appCard:hover {
  background: #181a1f;
  box-shadow: 0 0 0 6px rgba(102, 107, 119, 0.8);
}

.appCard-icon {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-top: -1px;
  border-radius: 10px;
  color: #4a5161;
  transition: all .22s ease-in-out;
}

.appCard:hover .appCard-icon {
    color: #2477d5;
}

.appCard-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  flex: 1;
  min-width: 0;
  height: 100%;
  /* padding-top: 2px; */
}

.appCard-meta {
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-width: 0;
  height: 100%;
}

.appCard-name {
  font-family: 'aspecta', sans-serif;
  font-size: 20px;
  line-height: 26px;
  color: #f1f1f1;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.appCard-id {
  font-family: 'Source Sans 3', sans-serif;
  font-size: 16px;
  color: #8d94a3;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  letter-spacing: 0.0px;
}

.appCard-chips {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--space-4);
}

.appCard-chip {
  display: inline-flex;
  align-items: center;
  padding: 4px 16px;
  border-radius: 20px;
  font-family: 'Source Sans 3', sans-serif;
  font-size: 15px;
  line-height: 22px;
}

.appCard-chip--blue {
  color: #38a0f9;
  background: rgba(56, 160, 249, 0.08);
  background: rgb(36 119 213 / 23%);
}

.appCard-chip--teal {
  color: #2ec4b6;
  border-color: rgba(46, 196, 182, 0.35);
  background: rgba(46, 196, 182, 0.08);
  background: rgb(55 255 253 / 23%);
}

.appCard-chip--green {
  color: #7ad698;
  background: rgb(122 248 178 / 23%);
}

.appCard-chip--yellow {
  color: #e6b94a;
  border-color: rgba(230, 185, 74, 0.35);
  background: rgba(230, 185, 74, 0.08);
}

.appCard-chip--red {
  color: #e05c5c;
  border-color: rgba(224, 92, 92, 0.35);
  background: rgba(224, 92, 92, 0.08);
}

.appCard-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--space-16);
}
